.about-image {}

.about-image div {
    background-image: url(../../images/detailslider1.jpg);
    width: 100%;
    background-attachment: fixed;
    height: 700px;
    background-position: center center;
}

.about-image p {
    display: block;
    position: absolute;
    font-size: 72px;
    line-height: 1em;
    height: 1em;
    left: 6%;
    bottom: 70px;
    color: #fff;
}

.about-text-container {
    margin-bottom: 50px;
}

.about-text-container h2 {
    margin: 35px 0;
    font-size: 25px;
    line-height: 25px;
    max-width: 900px;
}

.about-text-container p {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    font-size: 19px;
    line-height: 30px;
    padding-right: 100px;
    font-family: serif, open sans;
    color: rgb(91, 91, 91);
}

.swiper {
    margin: 20px 0 50px 0;
}

.swiper-image {
    object-fit: cover;
}

.swiper-wrapper {
    align-items: center;
    transition: transform linear 2s !important;
    transition-delay: 0;
    transition-duration: 0;
}

.tools {
    margin-top: 100px;
}

.contact {
    background-color: #f0f0f0;
    padding: 80px 0;

}

.contact h2 {
    font-size: 72px;
    line-height: 1em;
    margin-bottom: 40px;
}

.contact p {
    font-size: 17px;
}

.contact .mail {
    position: relative;
    font-weight: 600;
}

.mail .line {
    position: absolute;
    width: 0;
    height: 3px;
    opacity: none;
    background-color: black;
    bottom: 0;
    left: 0;
}

.mail:hover .line {
    width: 150px;
    transition: width .4s ease-in-out;
}